@import url('https://fonts.googleapis.com/css?family=Barlow:400,800&display=swap');

html, body {
    margin:0;
    padding:0;
    background:#eee;
    color:#222;
    font-family: 'Barlow', sans-serif;

}

* {
    box-sizing:border-box;
}


$mobile : 800px;

@import "gallery.scss";





#banner, #house-gallery {
    
    background-size:cover;
    position: relative;
    width:100%;
    height:100vh;


    @media (max-width:$mobile) {
        height:400px;
    }


    .images {
        position:absolute;
        left:0;
        top:0;
        width:100%;
        height:100%;

        .item {
            width:100%;
            height:100%;
            position:absolute;
            top:0;
            left:0;
            opacity:0;

            transition: all 0.7s ease;

            img {
                width:100%;
                height:100%;
                object-fit:cover;
            }
        }
    }


    .inner-items {
        position:absolute;
        top:70px;
        right:100px;
        width:700px;
        max-width:calc(100% - 40px);
        display:flex;
        flex-direction: column;
        

        @media (max-width:$mobile) {
            right:auto;
            left:50%;
            transform:translateX(-50%);

        }

        h1.title {
            color:white;
            font-size:80px;
            
            opacity:0.8;
            @media (max-width:$mobile) {
                font-size:40px;
            }
        }

        .cta {
            align-self: flex-start;
            border:none;
            background:orange;
            padding:15px 35px;
            border-radius:10px;
            font-weight:800;
            color:inherit;
            text-decoration: none;
        }
    }
}


#booking {
    background:#eee;
    padding:50px 100px;

    display:none;
    /* until i get booking set up i will just use booking.com */
}



#northface {
    position: relative;
	padding-bottom: 45.5%; 
	padding-top: 25px;
    height: 100vh;

    @media (max-width:$mobile) {
        height:auto;
    }
    
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}





.info {
    
    padding:40px;
    background:#eee;

    .inner {
        width:600px;
        max-width:100%;
        margin:auto;
        text-align:center;

        h3 {
           font-size:30px;
        }
    }
}


